.content-head-top {
    border-bottom: 1px solid #E1E1E1;
}

.custom-table-1 {
    position: relative;
}

.custom-table-1:after {
    content: '';
    position: absolute;
    background: #D0D0D0;
    width: 1px;
    height: 90px;
    right: -15px;
    top: 3px;
}

.custom-form .input-group-sm .form-control {
    background: #EFEFEF;
    padding: 0px !important;
}

.tag-line {
    margin-bottom: 13px;
    font-size: 12px;
}

.form-button {
    background: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.form-button .btn {
    width: 163px;
}

.form-button .btn-success {
    background: #009943;
}

.form-button .btn-primary {
    background: #2C66B0;
}

select:focus option {
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.form-control:focus option {
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/*select option:focus{
   outline: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}*/
.w-145 {
    width: 145px;
}

.border-line-area {
    position: relative;
}

.border-line-area:before {
    position: absolute;
    right: 9px;
    height: 26px;
    background: #D0D0D0;
    width: 1px;
    content: '';
}

/*.custom-data-modal .modal-dialog{
      border: 1px solid black;
    }*/
.modal-data-box .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0;
    border-bottom: 1px solid #141855 !important;
    color: #fff;
}

.modal-data-box .modal-inner.table td,
.modal-data-box .modal-inner.table th {
    position: relative;
}

.modal-data-box .modal-inner.table td:after,
.modal-data-box .modal-inner.table th:after {
    content: '';
    position: absolute;
    background: #D7D7D7;
    width: 1px;
    height: 15px;
    right: 0px;
    top: 18px;
}

.modal-data-box .modal-inner.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0;
    border-bottom: 1px solid #dee2e6;
}

.modal-data-box .form-control {
    height: 28px;
    padding: 0px;
    vertical-align: middle;
    line-height: 22px;
    margin: 0px;
}

.modal-data-box .line-icon-box {
    background: #bbbbbb;
}

.square-title .line-icon-box {
    background: #bbbbbb;
}

.line-icon-box {
    height: 14px;
    width: 14px;
    background: #363A81;
    border-radius: 3px;
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

.modal-data-box .form-control {
    border-radius: 3px !important;
}

.modal-data-box .modal-inner.table td:after,
.modal-data-box .modal-inner.table th:after {
    content: '';
    position: absolute;
    background: #D7D7D7;
    width: 1px;
    height: 15px;
    right: 0px;
    top: 7px;
}

.bg-blue {
    background: #363A81 !important;
}

.order_entry_topcontent .input-group-append,
.data-wrapper-content .input-group-append {
    cursor: pointer;
}


.custom-arrow select::-ms-expand {
    display: none;
}

.custom-arrow select {
    -webkit-appearance: none;
}

.td-border-line:after {
    content: '';
    position: absolute;
    background: #D0D0D0;
    width: 1px;
    height: 26px;
    left: 15px;
    top: 3px;
}

.container {
    max-width: 1140px !important;
}

.orderentry-databox .data-box {
    background: #fff;
}

.vertical-line {
    position: relative;
}

.vertical-line:after {
    position: absolute;
    left: 0;
    top: 12px;
    width: 1px;
    height: 15px;
    content: '';
    background: #ddd;
}

.line-title:after {
    background: transparent !important;
}

.line-title2 {
    position: relative;
}

.line-title2:after {
    position: absolute;
    content: '';
    height: 20px;
    background: white;
    width: 1px;
    right: 0;
    z-index: 999;
}

.dataModal6 {
    display: none;
}

.tabledataModal6 {
    display: none;
}

.tabledataModal6.intro {
    display: block;
}

.dataModal6.intro {
    display: block;
}

.close:hover,
.close:focus {
    outline: 0;
}

.scrollbararea::-webkit-scrollbar {
    width: 5px;
}

.scrollbararea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 60px rgba(203, 203, 203, 1);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.scrollbararea::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(44, 102, 176, 1);
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.5);
}

.custom-data-modal .bg-white {
    background: #fff !important;
}

.table-nohover .page-link:hover {
    background: white;
}

.custom-input-field .form-control-sm, .input-group-sm > .form-control, .input-group-sm > .input-group-prepend > .input-group-text, .input-group-sm > .input-group-append > .input-group-text, .input-group-sm > .input-group-prepend > .btn, .input-group-sm > .input-group-append > .btn {
    padding: 0px 17px;
}

.modal-div-row .separate {
    position: relative;
}

.modal-div-row .separate:before {
    content: '';
    position: absolute;
    background: #D7D7D7;
    width: 1px;
    height: 15px;
    left: 0;
    top: 1px;
}

.custom-modal .modal-body h4.b-color:before {
    background: #408dee;
}

.custom-select-file-upload .custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "";
    background: transparent;
}

.custom-select-file-upload .custom-file-label::after {
    border-left: 0px;
}

.custom-select-file-upload .custom-file-label {

    color: #fff;
    position: relative;
    margin-bottom: 0px;
    height: 30px;
    border: 1px solid #2C66B0;
    background: #2C66B0;
}

.custom-select-file-upload .custom-file-label:hover {
    background: #398BF7;
    border: 1px solid #398BF7;
    cursor: pointer !important;
}

.c_hover:hover {
    background: #398BF7 !important;
    border: 1px solid #398BF7 !important;
    cursor: pointer !important;
}
