
/* @keyframes click-wave {
    0% {
      height: 40px;
      width: 40px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 200px;
      width: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0;
    }
  } */
/* Scrollbar Design Modification Starts Here */
  #userTable,
  .largeTable {
    max-height: 500px;
    padding-bottom: 20px;
  }

  #userTable::-webkit-scrollbar,
  .largeTable::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  #userTable::-webkit-scrollbar-track,
  .largeTable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 60px rgba(203,203,203,1);
    -webkit-border-radius: 0px;
    border-radius: 100px;
  }

  #userTable::-webkit-scrollbar-thumb,
  .largeTable::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 100px;
    background: rgba(44,102,176,1);
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.5);
  }
/* Scrollbar Design Modification Ends Here */

  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 5.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 18px;
    width: 18px;
    transition: all 0.15s ease-out 0s;
    background: #EFEFEF;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 4px;
    margin-left: 4px;
    outline: none;
    position: relative;
    /* z-index: 1000; */
  }
  .option-input:hover {
    /* background: #9faab7; */
    background:  #EFEFEF;

  }
  .option-input:checked {
    background: #2B66B1;
  }
  .option-input:checked::before {
    height: 18px;
    width: 18px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 17px;
  }
  .option-input:checked::after {
    /* -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s; */
    background: #2B66B1;
    content: '';
    display: block;
    position: relative;

  }
  .option-input.radio {
    border-radius: 50%;
    border: 1px solid #CDCDCD !important;
  }
  .option-input.radio::after {
    border-radius: 50%;

  }


.c-mt-35{
    margin-top: 25px;
    }
/*sliding div*/
.custom-input-field .form-control-sm,
.input-group-sm > .form-control,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend >
.btn, .input-group-sm > .input-group-append > .btn {
    padding: 0px 17px !important;
}
.line-transparent.modal-table-white tbody tr td:after,
.line-transparent.modal-table-blue tbody tr td:after{
  background: transparent;
}

select,
.form-control {
    font-size: 12px !important;
}

#side {
   float: right;
  transition: all .5s;
  transition-timing-function: swing;
}

.keepRight {
  margin-left: 200px;
  transition: all .5s;
  transition-timing-function: swing;
}

.hide {
  display: none;
}

#slidable {
  float: right;
  right: 45%;
  position: absolute;
  top: 8px;
}


.add_border {
  background: #AEC7E6;
  padding: 0px;
}


.page-head-section{
   padding: 65px 0 5px;
  border-bottom: 1px solid #999;
}

.page-head ul{
  margin: 0;
  padding: 0;
}

.page-head ul li{
  display: inline-block;
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  color: #1b1b1b;
  padding-right: 12px;
}

.page-head ul li:last-child{
  padding-right: 0;
}

.page-head ul span{
  color: #4591EE;
}


.content-head-section{
  padding: 13px 0;
  min-height: 50px;
}

.tag-line{
  margin-bottom: 10px;
  font-size: 12px;
}

.tag-line span{
  color: #4591EE;
}

.content-head-top{
  margin-bottom: 15px;
}

/*.line-icon-box {
  height: 14px;
  width: 14px;
  background: #363A81;
  border-radius: 3px;
}*/

.custom-table,
.custom-table-2{
  position: relative;
}

.custom-table:after{
  content: '';
  position: absolute;
  background: #D0D0D0;
  width: 1px;
  height: 26px;
  right: -15px;
  top: 3px;
}

.custom-table1:after{
  content: '';
  position: absolute;
  background: #D0D0D0;
  width: 1px;
  height: 26px;
  right: 8px;
  top: 3px;
}

.custom-table-2:after{
  content: '';
  position: absolute;
  background: #D0D0D0;
  width: 1px;
  height: 188px;
  right: -15px;
  top: 2px;
}

.custom-form .form-control{
  border: 1px solid #E1E1E1 !important;
  border-radius: 4px !important;
}

.custom-form .error{
  border: 1px solid red !important;
  border-radius: 4px !important;
}

.custom-form .input-group-sm .form-control{
  border: 1px solid #E1E1E1 !important;
  border-radius: 4px 0 0 4px !important;
  /*background: #EFEFEF;*/
}

.custom-form .input-group-text{
  border: 1px solid #2C66B0;
  background: #2C66B0;
  color: #fff;
  transition: .3s;
  cursor: pointer!important;
}

.custom-form .input-group-text:hover{
  background: #398BF7;
  border: 1px solid #398BF7;
  cursor: pointer!important;
}


.content-bottom-section{
  background: #EFEFEF;
  padding-bottom: 40px;
}

.content-bottom-top{
  background: #6492CE;
}

.bottom-top-btn{
  position: relative;
}

.bottom-top-btn span{
  background: #fff;
  padding: 4px 14px;
  border-radius: 30px;
  color: #6492CE;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: -12px;
}

.bottom-top-title{
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 20px;
}

.input-group-append{
  z-index: 1;
  cursor: pointer;
}

.input-data{
  width: 100%;
  height: 28px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}

.footer-wrapper{
    /* position:relative; */
    /* left: 0; */
   /*  bottom: 0;
    position:fixed;*/
    width: 100%;
    background-color: #fff;
    border-bottom: 8px solid #2C66B0;
    z-index:10;
    text-align: center;
    padding: 15px;
  }
/* .footer-wrapper{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 8px solid #2C66B0;
  z-index:10;
  text-align: center;
  padding: 15px;
} */

.footer-wrapper img{
  height: 27px;
  margin-bottom: 12px;
}

.footer-wrapper p{
  font-size: 10px;
  color: #999;
  margin: 0;
}

br.responsive {
  display: none;
}

.tag-line {
  margin-bottom: 0px !important;
}

.fullpage_width1{
  margin-top: 112px;
/*  margin-bottom: 112px;*/
}

/*=============media query===============*/
@media (max-width: 1800px) and (min-width: 280px) {

  .fullpage_width1 {
    /*width: 96vw;*/
    margin-top: 112px;
  /*  margin-bottom: 112px;*/
    min-width: 1140px;
  }
    .footer-wrapper{
       min-width: 1140px;
    }
}


@media (max-width: 768px) and (min-width: 280px) {
  br.responsive {
    display: inline;
  }

  .page-head ul li {
    font-size: 11px;
  }

  .content-head-section {
    padding: 5px 0 !important;
    min-height: 58px;
  }

  .tag-line {
    font-size: 11px !important;
  }
}

@media (max-width: 300px) and (min-width: 80px) {
  .fullpage_width1 {
    margin-top: 110px;
    min-width: 1140px;
  }
}

@media (max-width: 992px) and (min-width: 767px) {
  br.responsive.res2 {
    display: inline;
  }

  .page-head ul li {
    font-size: 16px;
  }

  .content-head-section {
    min-height: 58px;
  }

  .tag-line {
    font-size: 11px !important;
  }
}
